#swich-info{
    position: absolute;
    top: 0px; /* 距离地图容器顶部的距离 */
    right: 0px; /* 距离地图容器右侧的距离 */
    background-color: rgb(224, 218, 218); 
    padding: 0px;
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
    z-index: 1000; /* 确保筛选器位于地图之上 */
    width: 20px;
    height: 30px;
  }
.time-show {
    color: white;
    font-size: 30px;
    font-weight: bold;
    z-index: 1000; 
    width: auto;
    height: auto;
}
.nowserver {
    color: white;
    font-size: 20px;
    font-weight: bold;
    z-index: 1000; 
    width: auto;
    height: auto;
}
#right-down{
    position: absolute;
    bottom: 10px; /* 距离地图容器顶部的距离 */
    right: 15px; /* 距离地图容器右侧的距离 */
    z-index: 9999;
}
#eew-show {
    position: absolute;
    top: 0px; /* 距离地图容器顶部的距离 */
    left: 0px; /* 距离地图容器右侧的距离 */ 
    height: 200px;
    border-radius: 10px;
    overflow-y: hidden;
    width: 450px; /* 设置宽度为整个页面的20% */
    background-color:#f28c07; /* 添加背景颜色以便更容易观察 */
    transition: width 0.1s ease; /* 过渡宽度的变化，时间为 0.1 秒，缓动效果 */
    /* padding: 15px; */
    z-index: 1000;
}
#from-serial-reportnum {
    display: flex;
    font-size: 25px;
    justify-content: space-between;
    /* margin-bottom: 10px; */
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#eew-serial{
    display: flex;
}
#eew-reportnum,
#eew-from{
    color: white;
    font-weight: bold;
}
#eew-from{
    flex-basis: 33%;
}
#eew-int-info{
    display: flex;
    /* justify-content: space-between; */
    font-size: 20px;
    background-color: rgb(94, 63, 43);
    margin-left: 3px;
    margin-right: 3px;
    border-radius: 3px;
    /* padding-left: 5px;
    padding-right: 5px; */
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
}
#eew-int{
    width: 140px;
    height: 140px;
    flex-shrink: 0; /* 防止缩小 */
    background-color: rgb(255, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    text-shadow: 0px 4px 10px rgba(0,0,0,.3);
    border: 3px solid #ADB8C0;
    box-sizing: border-box;
    border-radius: 8px;
    font-variant-numeric: normal;
    color: #fff;
    font-weight: 700;
    font-size:100px;
}
#eew-location{
    color: white;
    font-weight: bolder;
    font-size: 25px;
    padding-left: 3px ;
    padding-top:3px;    
}
#eew-time{
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-left: 3px ;
    padding-top:3px;
}
#eew-magnitude-depth{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    padding-left: 3px ;
    padding-top:5px;
}
#eew-magnitude,
#eew-depth{
    color: white;
    font-weight: bolder;
    font-size: 30px;
    padding-right: 10px;
}
#eew-info{
    color: white;
    font-weight: bolder;
    font-size: 20px;
    padding-left: 3px ;
    width: 100%;
}
#eew-notice{
    font-size: 18px;
}
#eew-serial-now,
#eew-serial-all {
    background-color: gray;
    font-weight: bold;
    border-radius: 6px;
    color: white;
    /* padding: 10px; */
}

#eew-from-serial{
    display: flex;
    justify-content: space-between;
    flex-basis: 60%;
}