.serial_circle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(59, 56, 56);
    position: relative;
  }
  
.serial_number {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    font-weight: bolder;
    color: rgba(255, 255, 255);
}