#toolbar{
    position: absolute;
    display: flex;
    bottom: 25px;
    left: 2px;
    flex-direction: row;
    align-items: center;
    z-index: 1000; /* 确保筛选器位于地图之上 */
    width: auto;
    height: auto;
  }
.tool-item {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 48, 55);
    width: 30px;    
    height: 30px;
    border-radius: 5px;
    margin-right: 5px;
}
.tool-item img {
    width: 20px;
    height: 20px;
    filter: invert(100%);
    
}
